<div id="login">
    <div class="container">
        <div id="login-row" class="row d-flex justify-content-center align-items-center">
            <div id="login-column" class="col-md-4">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
                        <h3 class="text-center text-info">Login</h3>
                        <p>Test Credentials: <span>Username & Password -> test</span></p>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" name="userName" id="userName" class="form-control" required ngModel>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control" required ngModel>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="isFormInvalid">
                            Please fill all fields.
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="areCredentialsInvalid">
                            Invalid user or password.
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>